<!-- Start Blog page -->
<section class="blog-area">
    <div class="container">
        <div class="row">
            {% if rows %}
              {{rows}}
            {% endif %}
        </div>
        {% if pager %}
          {{ pager }}
        {% endif %}
    </div>
</section>
<!-- End Blog page -->