
<section class="section" id="section-testimonial">
    <div class="container">
       <div class="row align-items-center">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="section-heading testimonial-heading">
                    <h2>{{content.field_title.0}}</h2>
                    <p>{{content.field_description.0}}</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
                <div class="row">
                  {{content.field_client_say}}
                </div>
            </div>
      </div>
    </div>
</section>
              