<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	<div class="client-logo">
	  <a href="{{content.field_link.0['#url']}}">
	  	<img src="{{ file_url(content.field_client_image['#items'].entity.uri.value)}}"
	     class="img-fluid" 
	     alt="{{ content.field_client_image['#items'].alt }}" 
	     title="{{ content.field_client_image['#items'].title }}">
	  </a>
	</div>
</div>